{% extends "LHK/auth_base.html" %}

{% block title %} 로그인 {% endblock %}

{% block form %}
<form method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
    </div>

    {% if error %}
    <div class="alert text-center py-2" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary">로그인</button>
    </div>
</form>

<div class="extra-buttons">
    <a href="{{ url_for('main.signup') }}" class="btn btn-link px-0">회원가입</a>
    <a href="#" class="btn btn-link px-0">ID / PW 찾기</a>
</div>

<div class="go-home">
    <a href="{{ url_for('main.forcing_main') }}">메인 홈으로 이동</a>
</div>
{% endblock %}

