{% extends 'common/base.html' %}
{% block title %}서울시 자치구 대시보드{% endblock %}

{% block css_block %}
<!-- 스타일 -->
<style>
  .map-container svg {
    width: 100%;
    max-width: 700px;
    height: 500px;
    display: block;
    margin: 0 auto;
  }

  svg path {
    fill: #A5D8FF;
    stroke: #183596;
    stroke-width: 1;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  svg path:hover {
    transform: translateY(-5px);
    fill: #bb1717;
  }

  svg text {
    fill: black;
    font-size: 10px;
    font-family: "Malgun Gothic";
    pointer-events: none;
  }
</style>
{% endblock %}

{% block content %}
<h2>서울시 자치구 대시보드</h2>

<!-- 날짜 선택 -->
<div style="text-align:center; margin-bottom: 20px;">
  <label for="date-picker">날짜 선택: </label>
  <input type="date"
         id="date-picker"
         name="date"
         value="{{ default_date }}"
         min="2020-01-01"
         max="2024-12-31">

  <label for="gu-picker" style="margin-left: 20px;">자치구 선택: </label>
  <select id="gu-picker" name="gu">
    <option value="" disabled selected>자치구 선택</option>
    {% for gu in gu_list %}
      <option value="{{ gu }}">{{ gu }}</option>
    {% endfor %}
  </select>
</div>

<!-- 지도 SVG -->
<div class="map-container">
  {{ svg|safe }}
</div>

<!-- 정보 출력 -->
<div id="info-box" style="text-align: center; margin-top: 30px;">
  <h3 id="gu-name"></h3>
  <p id="gu-summary"></p>
  <div id="district-chart" style="max-width:500px; margin: 0 auto;"></div>
</div>
{% endblock %}

{% block js_block %}
  <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
  <script> 

  document.querySelectorAll('svg path').forEach(path => {
    path.addEventListener('click', function () {
      const guName = this.getAttribute('data-gu');
      const date = document.getElementById('date-picker').value;
      if (!guName || !date) return;
      fetchDistrictInfo(guName, date);
    });
  }); 

  // 자치구 드롭다운 변경 이벤트
  document.getElementById('gu-picker').addEventListener('change', function () {
    const guName = this.value;
    const date = document.getElementById('date-picker').value;
    if (!guName || !date) return;
    fetchDistrictInfo(guName, date);
  });

  // 데이터 요청 및 차트 출력 함수
  function fetchDistrictInfo(guName, date) {
      

      fetch(`/district-info/${guName}?date=${date}`)
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            document.getElementById('gu-name').innerHTML = guName;
            document.getElementById('gu-summary').innerHTML = data.error;
            Plotly.purge('district-chart');
            return;
          }

          data.plot_data.type = 'bar';
          document.getElementById('gu-name').innerHTML = data.name;
          document.getElementById('gu-summary').innerHTML = data.summary;
          Plotly.newPlot('district-chart', [data.plot_data] );
        });
    }
  </script>

{% endblock %}
